/* .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* html {
    transition: 0.2s ease;
} */

:root {
    --ll-border-width: 0.25em;
    --ll-spacing: 0.4em;
}

.ll-border {
    border: var(--ll-border-width) solid var(--primary);
    border-radius: var(--ll-border-width);
}

